* {
  background-color: black;
  color: white;
}

.main {
  background-color: black;
  color: white;
  text-align: center;
}

.secondary {
  background-color: black;
  color: white;
  text-align: center;
}

div {
  color: white;
}

ul {
  display: inline-block;
  text-align: left;
}

a {
  color: rgb(247, 250, 168);
}
/* adding my first comment to this css file */
