html {
  background-color: rgba(41, 170, 225, 0.804);
  color: rgb(255, 249, 239);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-color: red;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  tab-size: 4;
  text-size-adjust: 100%;
  font-feature-settings: normal;
}

nav {
  display: flex;
}

.wholepage {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  line-height: 32px;
  font-size: 16px;
}

.topnav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  vertical-align: baseline;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px 0px;
  border-bottom: 4px solid rgb(227, 90, 0);
  background-color: rgb(255, 249, 239);
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgb(0 0 0 / 40%) 0px 8px 16px 0px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}

.name {
  flex-flow: row;
  background-color: rgb(255, 249, 239);
  color: black;
}

.title {
  flex-flow: row;
  background-color: rgb(255, 249, 239);
  color: black;
}

.navlist {
  flex-flow: column;
  background-color: rgb(255, 249, 239);
  color: black;
}

.navlist li a {
  flex-flow: column;
  background-color: rgb(255, 249, 239);
  display: inline-block;
  color: black;
}

img {
  height: 700px;
  width: auto;
}

.main {
  color: rgb(255, 249, 239);
  text-align: center;
  margin: 8px;
}

div .secondary {
  color: rgb(255, 249, 239);
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

p .secondary {
  color: rgb(255, 249, 239);
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;

}

ul {
  display: flex;
  padding-inline-start: 0px;
}

.reclist {
  flex: 1;
  justify-content: space-evenly;
}

.navlist {
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  width: 600px;
  min-width: 320px;
  list-style: none;
}

.navlist li a:hover {
  border-bottom: 4px solid rgb(227, 90, 0);
  margin-bottom: -4px;
}

/* adding my first comment to this css file */
