* {
  background-color: black;
  color: white;
  border: 1px dotted red;
  box-sizing: border-box;
  margin: 8px;
}

p {
  margin-bottom: 12px;
  margin-top: 12px;
}

img {
  height: 700px;
  width: auto;
}

.main {
  background-color: black;
  color: white;
  text-align: center;
  margin: 8px;
}

.secondary {
  background-color: black;
  color: white;
  text-align: center;
}

/* adding my first comment to this css file */
